@charset "UTF-8";



/* notice */

/* 서브타이틀 */
.sub_tit_wrap {
	margin-top: 120px;
    width: 100%;
    height: 120px;
    background: #F6F5F0;
}

.sub_tit_wrap div.sub_tit_inner {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.sub_tit_wrap h2 {
    font:  36px Avenir, Arial, georgia;
    color: #222222;
    padding-top: 30px;
    position: relative;
}
ul.smap {
    position: absolute;
    right: 0;
    top: 60px;
}
ul.smap li {
    vertical-align: middle;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 2.5px;
}
nav ul, li {
    list-style: none;
}

ul.smap a {
    font-size: 12px;
    color: #666666;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
}
a:link {
	color: #222222;
}
a:hover {
	color: #999;
}
ul.smap img.arrow {
    position: relative;
    top: 2px;
}

img {
    vertical-align: top;
    max-width: 100%;
}
ul.smap a.this {
    font-size: 14px;
    color: #222222;
}

/* 공지사항 */

#container {
    width: 100%;
}

.notice_wrap {
    width: 1100px;
    padding-bottom: 80px;
    margin: 0 auto;
}

table.notice_tb {
    width: 1100px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hid {
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

colgroup {
    display: table-column-group;
}

col[Attributes Style] {
    width: 5.45454%;
}

col[Attributes Style] {
    width: 74.5454%;
}

col[Attributes Style] {
    width: 10.9091%;
}
tr {
    display: table-row;
}
table.notice_tb th {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

thead {
    display: table-header-group;
}
table.notice_tb td {
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    line-height: 1.8;
}

table.notice_tb td.left {
    text-align: left;
    padding-left: 20px;
}
table.notice_tb td {
    font-size: 14px;
    color: #666666;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    line-height: 1.8;
}
div.news_pagination {
    height: 27px;
    margin-top: 50px;
    width: 100%;
}
div.news_pagination ul.pager {
    text-align: center;
}
div.news_pagination ul.pager {
    text-align: center;
}





/* REVIEW */


#container {
    width: 100%;
}
.review_wrap {
    width: 1100px;
    padding-bottom: 80px;
    margin: 0 auto;
}
table.review_tb {
    width: 1100px;
}
table.review_tb th {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
table.review_tb td {
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    line-height: 1.8;
}
table.review_tb td.left {
    text-align: left;
    padding-left: 20px;
}
table.review_tb td {
    font-size: 14px;
    color: #666666;
    padding: 17px 0;
    border-bottom: 1px solid #dddddd;
    line-height: 1.8;
}
div.news_pagination {
    height: 27px;
    margin-top: 50px;
    width: 100%;
}
div.news_pagination ul.pager {
    text-align: center;
}
div.news_pagination ul.pager {
    text-align: center;
}

/*  */
.news_wri_wrap {
    padding: 20px 30px;
    height: 38px;
    background: #e4e4e0;
    border-radius: 3px;
    margin-bottom: 40px;
    position: relative;
}
.news_wri_wrap p {
    position: absolute;
    right: 30px;
    top: 20px;
}
.news_wri_wrap p a {
    display: inline-block;
    width: 84px;
    height: 38px;
    line-height: 38px;
    background: #777;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.news_wri_wrap .txt {
	float: left;
	width: 1050px;
    overflow: hidden;
    padding: 10px 0;
    font-size: 13px;
    color: #666;
    line-height: 18px;
   /*  letter-spacing: -.3px; */
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
}






















/* FAQ  */

 #container {
    width: 100%;
} 
section.q_section {
    width: 1100px;
    padding-bottom: 80px;
    margin: 0 auto;
}
header, nav, section, article, aside, footer {
    display: block;
}

details > summary {
  padding: 4px;
  width: 1000px;
  border: none;
  cursor: pointer;
}


details > p {
  padding: 10px;
  margin: 0;
  font-size: 13px;
}

summary {
	font-weight: 700;
  font-size: 14px;
  display: block;
  padding: 4px;
}

details summary::-webkit-details-marker {
    background: url(./images/down.png) center no-repeat;
    color: transparent;
}
details[open] summary::-webkit-details-marker {
    background: url(./images/up.png) center no-repeat;
    color: transparent;
}



div.faq_pagination {
    height: 27px;
    margin-top: 50px;
    width: 100%;
}

div.faq_pagination ul.pager {
    text-align: center;
}

div.faq_pagination ul.pager li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

div.faq_pagination ul.pager li.active a {
    font-weight: bold;
    color: #0d5f34;
    border-bottom: 1px solid #0d5f34;
}

div.faq_pagination ul.pager li a {
    font-size: 12px;
}






